<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            Technical leader with 8 years experience in the company looking to make an impact in both a positive work environment and increased productivity.  Seeking to leverage core skills of accountability, vulnerability, and transparency to drive developer success.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul class="highlights">
          <li>
            Leader on a agile squad with a heavy focus on infrastructure.  Serve as a resource in managing, planning, and implementing technical projects.
          </li>
          <li>
            Led a developer bootcamp for the department.  This bootcamp was a 3 day course to focus on the fundamentals and to get junior developers up to speed.
          </li>
          <li>
            Created learning plans with colleagues to focus on improvement.  Focused on weaknesses and development plans to overcome them.
          </li>
          <li>
            Manage bi-weekly development releases.  Responsible for planning, communicating, and delivering.
          </li>
          <li>
            Extensive knowledge of software solutions for the K-12 education industry.
          </li>
    			<li>
            Wrote many REST API integrations including but not limited to: Wisconsin State Reporting, Google Calendar, Amazon S3, Mailchimp, Constant Contact, Zendesk, Facebook, Twitter, Highrise, Zencoder, Canvas, Schoology, Salesforce, Magnus, and OneRoster.
          </li>
          <li>
            Created a CSS/JS/HTML custom element framework used internally based on Google's material design.
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
