<section class="tout" id="interests">
    <div class="container">
    	<div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
		    	<p>
			    	My personal interests include:
        		</p>
				<ul>
					<li>
						<b>Adventure</b>. When I'm not behind my computer I love to get outside and explore new areas.  I live in the beautiful Pacific Northwest and have found a new home here even though I am originally from Canada.
					</li>
					<li>
						<b>Finance</b>.  I am a finance nut, always crunching numbers, researching, and staying informed on the markets.
					</li>
					<li>
						<b>Craft beer</b>.  I love a good IPA, the hoppier the better.  Fortunately for me, I live in a very good area to explore new beers.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Languages</h3>
				<h4>What I currently do for a living:</h4>
				<ul>
					<li>Languages: Angular, C#, Coldfusion (..still), T-SQL, HTML, JS, Jquery, CSS, Bootstrap, Material Design</li>
					<li>DevTools: Azure DevOps, Visual Studio, VSCode, Git, SSMS, Trello, CF API Manager, WinSCP, Office, Teams, NPM</li>
				</ul>
				<h4>What I have experience in but haven't used in while:</h4>
				<ul>
					<li>Languages: Sass, MySQL, PHP, Symfony Framework, Perl, XML, Java, Python</li>
					<li>DevTools: AWS, NetBeans, Sublime Text, Atom, HeidiSQL, Subversion, CPanel, Wordpress</li>
				</ul>
				<h4>What I want to learn:</h4>
				<ul>
					<li>Languages: React, Svelte</li>
					<li>DevTools: Docker, Kubernetes</li>
				</ul>
			</div>
    	</div>
  	</div>
</section>
