<section class="tout" id="interests">
    <div class="container">
    	<div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
		    	<p>
			    	My personal interests include:
        		</p>
				<ul>
					<li>
						<b>Adventure</b>. When I'm not behind my computer I love to get outside and explore new areas.  I live in the beautiful Pacific Northwest and have found a new home here even though I am originally from Canada.
					</li>
					<li>
						<b>Finance</b>.  I am a finance nut, always crunching numbers, researching, and staying informed on the markets.
					</li>
					<li>
						<b>Craft beer</b>.  I love a good IPA, the hoppier the better.  Fortunately for me, I live in a great area to explore new beers.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				
				<h3 style="margin-top:0">Leadership Passions</h3>
				<h4>Passionate about improving my leadership in the following areas:</h4>
				<ul>
					<li><strong>Vulnerability</strong> - being more authentic with my peers and showing vulnerability</li>
					<li><strong>Emotional Intelligence</strong> - not letting small things bring me down and remaining calm with others.</li>
					<li><strong>Empathy</strong> - taking the time to relate to perspectives that are different than mine.</li>
					<li><strong>README</strong> - please read my <a href="https://github.com/grvriend/gvriend.app/blob/master/README.md">README</a> for my leadership style and expectations.</li>
				</ul>

				<h3 style="margin-top:0">Programming Languages</h3>
				<h4>What I currently do for a living:</h4>
				<ul>
					<li>Processes: Agile methodology, manage deployments, manage development processes, REST API design</li>
					<li>Languages: Angular, C#, Coldfusion, MSSQL, HTML, JS, Jquery, CSS, Bootstrap, Cypress, Material Design</li>
					<li>DevTools: Azure DevOps, Visual Studio, VSCode, Git, Azure Cloud, Docker, SSMS, Trello, CF API Manager, FileZilla, Office, Teams, NPM, and LucidChart.</li>
				</ul>
				<h4>What I have experience in but haven't used in while:</h4>
				<ul>
					<li>Languages: Sass, MySQL, PHP, Symfony Framework, Perl, XML, Java, Python</li>
					<li>DevTools: AWS, NetBeans, Sublime Text, Atom, HeidiSQL, Subversion, CPanel, Wordpress</li>
				</ul>
			</div>
    	</div>
  	</div>
</section>
